<table class="w-full text-sm text-left">
  <thead class="text-xs bg-primary-400/20 uppercase">
    <tr class="text-white">
      <th scope="col" class="px-6 py-3">Timepoint</th>
      <th scope="col" class="px-6 py-3">Previsione</th>
      <th scope="col" class="px-6 py-3">Temp</th>
    </tr>
  </thead>
  <tbody class="bg-white text-slate-800">
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <div class="w-3 h-5 rounded-lg bg-gray-200 animate-pulse"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
      <td class="px-6 py-4">
        <div class="w-8 h-8 bg-gray-200 animate-pulse rounded-lg"></div>
      </td>
    </tr>
  </tbody>
</table>
