<div class="flex gap-10 items-center justify-between">
  <div class="space-y-2">
    <p class="text-2xl text-secondary-500">Alba</p>
    <p class="w-40 h-10 bg-gray-200/20 animate-pulse rounded-full"></p>
    <p class="w-40 h-10 bg-gray-200/20 animate-pulse rounded-full"></p>
  </div>
  <lucide-icon
    name="sunrise"
    class="w-16 h-16 text-secondary-600"
  ></lucide-icon>
</div>
<div class="flex gap-10 items-center justify-between">
  <div class="space-y-2">
    <p class="text-2xl text-primary-400">Tramonto</p>
    <p class="w-40 h-10 bg-gray-200/20 animate-pulse rounded-full"></p>
    <p class="w-40 h-10 bg-gray-200/20 animate-pulse rounded-full"></p>
  </div>
  <lucide-icon name="sunset" class="w-16 h-16 text-primary-300"></lucide-icon>
</div>
